<template>
  <div class="home">
    <MindDatablesComponent :stage="initialState" @clickRow="handlerClickRow"></MindDatablesComponent>
  </div>
</template>

<script>
import api from "../services/api";
import MindDatablesComponent from "@/components/mind-datatables/mind-datatables-component";

export default {
  name: "home",

  data: () => ({
    initialState: {
      settings: {
        _attribute: "",
        DeliveryDate: {
          visible: true,
          freeze: true,
        },
        ReceiptDate: {
          visible: true,
          freeze: true,
        },
        Provider: {
          visible: true,
          freeze: true,
        },
        OriginCD: {
          visible: true,
          freeze: true,
        },
        Request: {
          visible: true,
          freeze: true,
        },
        // ModelColor: "",
        // DescriptionModelColor: "",
        // Cluster: "",
        // ClusterQuadrant: "",
        // ItemMinMax: "",
        // AllocationStatus: "",
        // OrderStatus: "",
        // AllocationType: "",
        // PercentAllocatedStore: "",
        // Note: "",
        // CostPrice: "",
        // SalesPrice: "",
        // TotalAmount: "",
        // Coordinate: "",
        // NationalImported: "",
        // AllocationInformation: "",
        // Custom03: "",
        // Custom04: "",
        // Custom05: "",
      }
    }
  }),

  components: {
    MindDatablesComponent
  },

  async mounted() {
    const response = await api.get("/work-list");

    const settings = this.initialState.settings;
    const { header, body } = response.data;

    this.$set(this, "initialState", {
      settings,
      header,
      body
    });
  },

  methods: {
    handlerClickRow: payload => console.log(payload)
  }
};
</script>
