<template>
  <div>

    <div v-if="!model.hasOwnProperty('body')">
      carregando...
    </div>

    <div class="m-table" v-else>
      <div class="m-header">
        <div class="m-header-content">

          <div class="m-header-box-fix" v-if="hasFixed">
            <table width="690px">
              <colgroup>
                <col style="width: 50px" />
                <col style="width: 120px" />
                <col style="width: 150px" />
                <col style="width: 170px" />
                <col style="width: 100px" />
                <col style="width: 100px" />
              </colgroup>
              <thead>
                <!-- <template v-for="(row, r) in model.header">

                  <tr :key="r">

                    <template v-for="(column, c) in row">

                      <th class="first" :key="c" v-if="column.fields === '_attribute'">
                        <CheckboxComponent name="ckb_all" type="checkbox" v-on:change.native="checkAll"></CheckboxComponent>
                      </th>

                      <th class="th-header" :key="c" v-else>{{column.label}}</th>

                    </template>

                  </tr>
                </template> -->

                <tr>
                    <th class="first">
                      <CheckboxComponent name="ckb_all" type="checkbox" v-on:change.native="checkAll"></CheckboxComponent>
                    </th>
                    <th class="th-header">Data de Entrega</th>
                    <th class="th-header">Data de Recebimento</th>
                    <th class="th-header">Fornecedor</th>
                    <th class="th-header">CD Origem</th>
                    <th class="th-header">Pedido</th>
                </tr>
                
              </thead>
            </table>
          </div>
          <div class="m-header-box">
            <table width="2500px">
              <colgroup>
                <col style="width: 150px;" />
                <col style="width: 150px;" />
                <col style="width: 100px;" />
                <col style="width: 150px;" />
                <col style="width: 120px;" />
                <col style="width: 120px;" />
                <col style="width: 120px;" />
                <col style="width: 150px;" />
                <col style="width: 150px;" />
                <col style="width: 120px;" />
                <col style="width: 120px;" />
                <col style="width: 120px;" />
                <col style="width: 150px;" />
                <col style="width: 120px;" />
                <col style="width: 150px;" />
                <col style="width: 150px;" />
                <col style="width: 120px;" />
                <col style="width: 120px;" />
                <col style="width: 120px;" />
              </colgroup>
              <thead>
                <tr>
                  <th class="th-header">Modelo/Cor</th>
                  <th class="th-header">Descrição Modelo/Cor</th>
                  <th class="th-header">Cluster</th>
                  <th class="th-header">Quadrante Cluster</th>
                  <th class="th-header">Item Min Max</th>
                  <th class="th-header">Status Alocação</th>
                  <th class="th-header">Status Pedido</th>
                  <th class="th-header">Tipo Alocação</th>
                  <th class="th-header">% Alocado Loja</th>
                  <th class="th-header">Observação</th>
                  <th class="th-header">Preço de Custo</th>
                  <th class="th-header">Preço de Venda</th>
                  <th class="th-header">Quantidade Total</th>
                  <th class="th-header">Coordenado</th>
                  <th class="th-header">Nacional Importado</th>
                  <th class="th-header">Informações Alocação</th>
                  <th class="th-header">Custom 03</th>
                  <th class="th-header">Custom 04</th>
                  <th class="th-header">Custom 05</th>
                </tr>
              </thead>
            </table>
          </div>

        </div>
      </div>

      <div class="m-body">
        <vue-custom-scrollbar
          class="scroll-area"
          :settings="config"
          @ps-scroll-y="scrollHanle"
          @ps-scroll-x="scrollHanle"
        >
          <div class="m-body-content">
            <div class="m-body-box-fix">
              <table width="690px">
                <colgroup>
                  <col style="width: 50px" />
                  <col style="width: 120px" />
                  <col style="width: 150px" />
                  <col style="width: 170px" />
                  <col style="width: 100px" />
                  <col style="width: 100px" />
                </colgroup>
                <tbody>
                  <tr @click="handleClickRow">
                    <td class="first">
                      <CheckboxComponent name="ckb_01" type="checkbox"></CheckboxComponent>
                    </td>
                    <td>29/02/2020</td>
                    <td>30/01/2010</td>
                    <td>Adidas</td>
                    <td>CD001</td>
                    <td>P002</td>
                  </tr>
                  <tr @click="handleClickRow">
                    <td class="first">
                      <CheckboxComponent name="ckb_02" type="checkbox"></CheckboxComponent>
                    </td>
                    <td>29/02/2020</td>
                    <td>30/01/2010</td>
                    <td>Adidas</td>
                    <td>CD001</td>
                    <td>P002</td>
                  </tr>
                  <tr @click="handleClickRow">
                    <td class="first">
                      <CheckboxComponent name="ckb_03" type="checkbox"></CheckboxComponent>
                    </td>
                    <td>29/02/2020</td>
                    <td>30/01/2010</td>
                    <td>Adidas</td>
                    <td>CD001</td>
                    <td>P002</td>
                  </tr>
                  <tr @click="handleClickRow">
                    <td class="first">
                      <CheckboxComponent name="ckb_04" type="checkbox"></CheckboxComponent>
                    </td>
                    <td>29/02/2020</td>
                    <td>30/01/2010</td>
                    <td>Adidas</td>
                    <td>CD001</td>
                    <td>P002</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="m-body-box">
              <table width="2500px">
                <colgroup>
                  <col style="width: 150px" />
                  <col style="width: 150px" />
                  <col style="width: 100px" />
                  <col style="width: 150px" />
                  <col style="width: 120px" />
                  <col style="width: 120px" />
                  <col style="width: 120px" />
                  <col style="width: 150px" />
                  <col style="width: 150px" />
                  <col style="width: 120px" />
                  <col style="width: 120px" />
                  <col style="width: 120px" />
                  <col style="width: 150px" />
                  <col style="width: 120px" />
                  <col style="width: 150px" />
                  <col style="width: 150px" />
                  <col style="width: 120px" />
                  <col style="width: 120px" />
                  <col style="width: 120px" />
                </colgroup>
                <tbody>
                  <tr @click="handleClickRow">
                    <td>M002</td>
                    <td>Blusa</td>
                    <td>Sul</td>
                    <td>Não informado</td>
                    <td>Min 1 Todas</td>
                    <td>Calculado</td>
                    <td>Cancelado</td>
                    <td>Manual</td>
                    <td>63,00%</td>
                    <td>Não informado</td>
                    <td>13,47</td>
                    <td>29,29</td>
                    <td>312</td>
                    <td>Não informado</td>
                    <td>Importado</td>
                    <td>Não alocar até dia X</td>
                    <td>Não informado</td>
                    <td>Não informado</td>
                    <td>Não informado</td>
                  </tr>
                  <tr @click="handleClickRow">
                    <td>M002</td>
                    <td>Blusa</td>
                    <td>Sul</td>
                    <td>Não informado</td>
                    <td>Min 1 Todas</td>
                    <td>Calculado</td>
                    <td>Cancelado</td>
                    <td>Manual</td>
                    <td>63,00%</td>
                    <td>Não informado</td>
                    <td>13,47</td>
                    <td>29,29</td>
                    <td>312</td>
                    <td>Não informado</td>
                    <td>Importado</td>
                    <td>Não alocar até dia X</td>
                    <td>Não informado</td>
                    <td>Não informado</td>
                    <td>Não informado</td>
                  </tr>
                  <tr @click="handleClickRow">
                    <td>M002</td>
                    <td>Blusa</td>
                    <td>Sul</td>
                    <td>Não informado</td>
                    <td>Min 1 Todas</td>
                    <td>Calculado</td>
                    <td>Cancelado</td>
                    <td>Manual</td>
                    <td>63,00%</td>
                    <td>Não informado</td>
                    <td>13,47</td>
                    <td>29,29</td>
                    <td>312</td>
                    <td>Não informado</td>
                    <td>Importado</td>
                    <td>Não alocar até dia X</td>
                    <td>Não informado</td>
                    <td>Não informado</td>
                    <td>Não informado</td>
                  </tr>
                  <tr @click="handleClickRow">
                    <td>M002</td>
                    <td>Blusa</td>
                    <td>Sul</td>
                    <td>Não informado</td>
                    <td>Min 1 Todas</td>
                    <td>Calculado</td>
                    <td>Cancelado</td>
                    <td>Manual</td>
                    <td>63,00%</td>
                    <td>Não informado</td>
                    <td>13,47</td>
                    <td>29,29</td>
                    <td>312</td>
                    <td>Não informado</td>
                    <td>Importado</td>
                    <td>Não alocar até dia X</td>
                    <td>Não informado</td>
                    <td>Não informado</td>
                    <td>Não informado</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </vue-custom-scrollbar>
      </div>
    </div>
  </div>
</template>
<script>
import CheckboxComponent from "../mind-checkbox/mind-checkbox-component";
import vueCustomScrollbar from "vue-custom-scrollbar";
import MixinDatatables from "./mixin";

export default {
  name: "MindDatablesComponent",
  
  components: {
    CheckboxComponent,
    vueCustomScrollbar
  },

  mixins: [MixinDatatables],

  data() {
    return {
        config: {
          maxScrollbarLength: 60
        },
        model: {}
    }
  },

  props: ["stage"],

  watch: {
    "stage": function (payload) {

        const { settings, header, body } = payload;

        this.$set(this.$data, 'model', {
          settings,
          header, 
          body
        });
    }
  },

  mounted() {},

  methods: {

    scrollHanle(evt) {
      console.log(evt);
    },

    handleClickRow() {
      this.$emit('clickRow', "Visualizar detail");
    }
  }
};
</script>
<style src="./style.css" scoped></style>
<style scoped>
.scroll-area {
  position: relative;
  margin: auto;
  height: 150px;
}
</style>
