*, ::after, ::before {
    box-sizing: border-box;
}

.m-table {
    background-color: #ffffff;
    -webkit-box-shadow: 0px 3px 10px -8px rgba(0,0,0,0.53);
    -moz-box-shadow: 0px 3px 10px -8px rgba(0,0,0,0.53);
    box-shadow: 0px 3px 10px -8px rgba(0,0,0,0.53);
}

.m-table .m-header {
    /* padding-right: 16px; */
    overflow: hidden;
}


.m-table .m-header .m-header-content {
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: hidden;
}

.m-body {
    height: auto;
}

.m-body .m-body-content {
    display: flex;
    justify-content: start;
    align-items: start;
    /* overflow: hidden;
    overflow-x: auto;
    overflow-y: scroll; */
}


.m-table table {
    margin: 0;
    width: 100%;
    max-width: none;
    border-width: 0;
    border-color: inherit;
    border-collapse: separate;
    border-spacing: 0;
    empty-cells: show;
    outline: 0;
    table-layout: fixed;
    border-collapse: collapse;
}

.m-table tr {
    border-color: inherit;
}

.m-table th, .m-table td {
    padding: 14px 18px;
    text-align: left;
    border-style: solid;
    border-color: #ececec;
    border-left-color: transparent;
    outline: 0;
    font-weight: inherit;
    text-align: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}

.m-table th {
    padding: 16px 18px;
    border-width: 0 0 1px 1px;
    border-color: #f5f5f5;
    border-bottom-color: #ececec;
    background-color: #f5f5f5;
}

.m-table th.th-header {
    position: relative;
    vertical-align: bottom;
    cursor: default;
}

.m-table td {
    border-width: 0 0 1px 1px;
    vertical-align: middle;
    white-space: nowrap;
}

.m-table th.first, .m-table td.first {
    padding: 0 12px;
    text-align: center;
    border-width: 0 0 1px 0;
}

.m-table td.first {
    white-space: normal;
}