* {
    padding: 0;
    margin: 0;
    border: none;
    list-style-type: none;
    box-sizing: border-box;
}

html, body {
   height: 100vh;
   font-family: Arial, Helvetica, sans-serif;
   color: #6b6e79;
   font-size: 12px;
   background: #f9fbfc;
}

body {
   padding: 1rem;
   -webkit-font-smoothing: antialiased;
}

