<template>
  <div>
    <div class="container">
      <div class="light">
        
        <template v-if="type === 'switch'">
          <div class="switch">
            <input :id="name" class="toggle" type="checkbox" @change="changed" />
            <label :for="name" v-if="title !== ''">{{title}}</label>
          </div>
        </template>

        <template v-if="type === 'checkbox'">
          <div>
            <input :id="name" class="checkbox" type="checkbox" v-on:input="$emit('input', $event.target.value)" />
            <label :for="name" v-if="title !== ''">{{title}}</label>
          </div>
        </template>

        <template v-if="type === 'radio'">
          <div>
            <input :id="name" class="radio" type="radio" name="radio" @change="changed" />
            <label :for="name" v-if="title !== ''">{{title}}</label>
          </div>
        </template>

      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "CheckboxComponent",
  props: {
    name: String,
    type: String,
    title: String
  },
  methods: {
    changed: () => {
      this.$emit("onChanged", "CheckAll");
    }
  }
};
</script>
<style src="./style.css" scoped></style>